<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>CodeFactory Challenge</title>
</head>
<body style="background-color:#005580;">

<div class="container" style="background-color:white;">
    <!--Start Page Header-->
    <div class="row">
        <div class="col-7">
            <h6>DKB CodeFactory Challenge</h6>
        </div>
        <div class="col-5" align="right">
            <h6 th:text="'Welcome Mr./Mrs. ' + ${user.lastName}"></h6>
        </div>
        <div class="col-12 mt-5" align="center">
            <h4><u>Transfer</u></h4>
        </div>
    </div>
    <!--End Page Header-->

    <!--Start Add form -->
    <div class="row">
        <div class="col-6" style="margin-top:200px;">
            <form action="#" th:action="@{/transferMoney}" th:object="${transferObj}" method="post">
                <div class="form-group row">
                    <label for="iban" class="col-sm-3 col-form-label">IBAN:</label>
                    <div class="col-sm-9">
                        <input type="text" required class="form-control" id="iban" name="iban" th:value="*{iban}" readonly>
                        <input type="hidden" class="form-control" id="hiddenInfo" value="" min="0" th:field="*{accountId}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputType" class="col-sm-3 col-form-label">Account</label>
                    <div class="col-sm-9">
                        <select id="inputType" required class="form-control" th:field="*{possibleAccountsTo}">
                            <option value="" selected>...</option>
                            <option th:each="account : *{possibleAccountsTo}"
                                    th:value="${account.id}"
                                    th:text="${account.name}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputBalance" class="col-sm-3 col-form-label">Amount:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="inputBalance"  required value="" min="0" th:max="${maxAmount}" th:field="*{amount}">
                        <!--                        <input type="hidden" class="form-control" id="hiddenInfo" value="" min="0" th:field="*{customer}">-->
                    </div>
                </div>
                <div class="form-group row" style="margin-top:20px;">
                    <div class="col-sm-12" align="right">
                        <button type="submit" class="btn btn-primary">Transfer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--End Add form -->
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/374498bfdb.js" crossorigin="anonymous"></script>
</body>
</html>